<header class="header">
  <div class="header-title">Trudo Main Account</div>

  <div class="profile-container" (click)="toggleDropdown()">
    <div class="profile-icon">J</div>

    <div class="dropdown-menu" *ngIf="dropdownOpen">
      <p (click)="goTo('meine-daten')">
        <i class="fas fa-home" style="color: lightgray; padding-right: 10px"></i
        >Meine Daten
      </p>
      <p (click)="goTo('hilfe')">
        <i
          class="fas fa-question-circle"
          style="color: lightgray; padding-right: 10px"
        ></i
        >Hilfe
      </p>
      <p (click)="logout()">
        <i
          class="fas fa-sign-out-alt"
          style="color: lightgray; padding-right: 10px"
        ></i
        >Logout
      </p>
    </div>
  </div>
</header>
