.header {
  background-color:rgb(221 51 51);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 20%;
  width: 80%; 
  padding-bottom: 10px;
  padding-top: 10px;
}
.header-title {
  padding: 40px;
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  .header {
    left: 250px; 
    width: calc(100% - 250px);
  }
}

@media (max-width: 768px) {
  .header {
    left: 0; 
    width: 100%;
    justify-content: center; 
  }

  .header-title {
    font-size: 1.3rem;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 50px;
    padding: 5px 10px;
  }

  .header-title {
    font-size: 1.2rem;
    padding: 5px;
  }
}