.footer-title{
    background-color:  rgb(182, 183, 184); 
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: left;
    width: 100%;
    margin-top: 290px;
    font-size: 20px;
    height:72px;
}