.footer-title {
  background-color: rgb(182, 183, 184);
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  text-align: left;
  width: 80%;
  font-size: 20px;
  position:fixed;
  bottom: 0;

}