<div class="page-content p-2">
  <div class="title font-normal text-4xl mb-4">Alarmkette</div>
  <div>
    <span class="text-[rgb(221,51,51)]">Ubersicht</span> >
    <span class="text-[rgb(117,117,117)]">Alarm</span> >
    <span class="text-[rgb(117,117,117)]"> Alarmkette</span>
  </div>
  <div
    class="mt-8 flex justify-between items-left p-4 border-2 rounded-2xl border-[rgb(221,51,51)] bg-[#dd33330d]"
  >
    <div
      class="red-title text-l text-[rgb(221,51,51)] font-normal mb-1.5 mt-1.5 p-1.5"
    >
      Hinweis: Sie können keine Kontakte in die Alarmkette ziehen
    </div>
  </div>
  <div class="pt-6">
    <fieldset
      class="alarm-card w-[49%] border px-4 rounded-sm border-[#757575] p-[8px] text-[#757575]"
    >
      <legend class="text-xs text-[#757575]">Alarmschleifen</legend>
      <p
        class="pt-[1px] pr-0 pb-[6px] pl-[2px] flex justify-between items-center"
      >
        Alarm durchläuft die Alarmkette 1 Mal.
        <i class="fas fa-chevron-down text-[13px]"></i>
      </p>
    </fieldset>
  </div>
  <div class="card-divs flex justify-between gap-6 mt-6 mb-8">
    <div class="card w-1/2 first-card">
      <div class="flex justify-between items-center mb-4">
        <div class="title font-normal text-[22px]">Alarmkette</div>
        <div
          class="bg-white border-2 border-[rgb(193,47,47)] rounded-full w-6 h-6 flex items-center justify-center"
        >
          <i class="fas fa-question text-[rgb(193,47,47)] text-sm"></i>
        </div>
      </div>

      <div class="flex items-center justify-between gap-3 ml-4 mb-6 mt-10">
        <div class="flex items-center gap-3">
          <img
            src="/assets/avatar1.png"
            alt="avatar"
            class="w-14 h-14 rounded-full object-cover"
          />
          <p class="text-[#757575] text-sm ml-4">Trudo Qa</p>
        </div>
        <i class="fas fa-arrows-alt text-gray-500 mr-6 text-xl"></i>
      </div>

      <hr class="my-2 border-gray-300" />

      <div class="flex items-center justify-between gap-3 mt-10 mb-6 ml-4">
        <div class="flex items-center gap-3">
          <img
            src="/assets/avatar2.png"
            alt="avatar"
            class="w-14 h-14 rounded-full object-cover"
          />
          <p class="text-[#757575] text-sm ml-4">Ylber Pllana</p>
        </div>
        <i class="fas fa-arrows-alt text-gray-500 mr-6 text-xl"></i>
      </div>
      <hr class="my-2 border-gray-300" />
    </div>

    <div class="card w-1/2 second-card">
      <h1 class="text-[22px]">Angelegte Notfallkontakte</h1>
      <div class="flex items-center justify-between gap-3 mt-10 mb-6 ml-4">
        <div class="flex items-center gap-3">
          <img
            src="/assets/avatar2.png"
            alt="avatar"
            class="w-14 h-14 rounded-full object-cover"
          />
          <p class="text-[#757575] text-sm ml-4">Trudo</p>
        </div>
        <i class="fas fa-arrows-alt text-gray-500 mr-6 text-xl"></i>
      </div>
      <hr class="my-2 border-gray-300" />
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-title">© 2025 hannah&swenn. Alle Rechte vorbehalten.</div>
</footer>
