.sidebar {
    width: 20%;
    height: 100vh;
    background-color: white;
    color: #97999a; 
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    border-right: 1px solid rgb(228, 224, 224); 
    box-sizing: border-box; 
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-top: 30px;
}

.nav-list li {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    overflow: hidden;
}

.nav-list li i {
    font-size: 20px;
    color: #757575;
    padding-right: 12px;
    padding-left: 10px;
}

.nav-list a {
    text-decoration: none;
    color: #757575;
    font-size: 18px; 
    flex-grow: 1;
    cursor: pointer;
    white-space: nowrap;
}

.nav-list li.active {
    background-color: rgb(221, 51, 51); 
    color: white;
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px; 
    width: 90%;
    margin-left: 0; 
}

.nav-list li.active i {
    color: white; 
}

.nav-list li.active a {
    color: white; 
}

.logo-container {
    width: 100%;
    text-align: left; 
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.logo {
    width: 130px;
    padding-left: 15px;
    padding-top: 10px;
}
