<div class="sidebar">
  <div class="logo-container" (click)="goToMain()">
    <img src="assets/logo.jpg" alt="Logo" class="logo" />
  </div>
  <!-- <ul class="nav-list">
    <li routerLink="/main"><i class="fas fa-home"></i> <a>Übersicht</a></li>
    <li routerLink="/main/meine-daten">
      <i class="fas fa-user"></i> <a>Meine Daten</a>
    </li>
    <li routerLink="/kontakte">
      <i class="fas fa-address-book"></i> <a>Kontakte verwalten</a>
    </li>
    <li routerLink="/dokumente">
      <i class="fas fa-file-alt"></i> <a>Dokumente</a>
    </li>
    <li routerLink="/hilfe">
      <i class="fas fa-question-circle"></i> <a>Hilfe</a>
    </li>
    <li routerLink="/datenschutz">
      <i class="fas fa-shield-alt"></i> <a>Datenschutz</a>
    </li>
    <li routerLink="/cookies">
      <i class="fas fa-cookie-bite"></i> <a>Cookie Einstellungen</a>
    </li>
  </ul>
</div> -->
  <ul class="nav-list">
    <li routerLink="/main" routerLinkActive="active">
      <i class="fas fa-home"></i> <a>Übersicht</a>
    </li>
    <li routerLink="/main/meine-daten" routerLinkActive="active">
      <i class="fas fa-user"></i> <a>Meine Daten</a>
    </li>
    <li routerLink="/kontakte" routerLinkActive="active">
      <i class="fas fa-address-book"></i> <a>Kontakte verwalten</a>
    </li>
    <li routerLink="/dokumente" routerLinkActive="active">
      <i class="fas fa-file-alt"></i> <a>Dokumente</a>
    </li>
    <li routerLink="/hilfe" routerLinkActive="active">
      <i class="fas fa-question-circle"></i> <a>Hilfe</a>
    </li>
    <li routerLink="/datenschutz" routerLinkActive="active">
      <i class="fas fa-shield-alt"></i> <a>Datenschutz</a>
    </li>
    <li routerLink="/cookies" routerLinkActive="active">
      <i class="fas fa-cookie-bite"></i> <a>Cookie Einstellungen</a>
    </li>
  </ul>
</div>
