li.active {
    background-color: rgb(221, 51, 51);
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 90%;
    height: 50px;
  }
  
  li.active i,
  li.active a {
    color: white;
  }
  