<!-- <div class="meine-daten-container"> -->
<h1>Meine Daten</h1>

<div class="user-info">
  <div class="input-group">
    <h2 class="personal-data">Persönliche Daten</h2>

    <div class="profile-picture-container">
      <img
        src="/assets/pfp.png"
        alt="Profile Picture"
        class="profile-picture"
      />
    </div>

    <label for="name">Name</label>
    <input type="text" id="name" value="Trudo Main Account" />
  </div>

  <div class="input-row">
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" value="trudo_owner@yopmail.com" />
    </div>

    <div class="input-group">
      <label for="phone">Telefonnummer</label>
      <input type="tel" id="phone" value="+383 45 402 502" />
    </div>
  </div>

  <div class="button-container">
    <button>Speichern</button>
  </div>
</div>

<div class="change-password">
  <h2>Passwort ändern</h2>
  <form (submit)="changePassword()">
    <div class="password-row">
      <div class="input-group half-width">
        <label for="oldPassword">Aktuelles Passwort</label>
        <input
          type="password"
          id="oldPassword"
          [(ngModel)]="oldPassword"
          required
        />
      </div>
    </div>

    <div class="password-row">
      <div class="input-group half-width">
        <label for="newPassword">Neues Passwort</label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          required
        />
      </div>

      <div class="input-group half-width">
        <label for="confirmPassword">Passwort wiederholen</label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
        />
      </div>
    </div>

    <div class="button-center">
      <button type="submit">Passwort ändern</button>
    </div>
  </form>
</div>
<footer class="footer">
  <div class="footer-title">© 2025 hannah&swenn. Alle Rechte vorbehalten.</div>
</footer>

<!-- </div> -->
