.page-content {
    background-image: url('/assets/dashboard-image.png');
}
@media (max-width: 1024px) {
    .info-container {
        gap: 15px;
    }
    .info-box {
        min-width: 280px;
        padding: 1rem;
    }
    .info-box h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .info-container {
        flex-direction: column;
        align-items: stretch;
    }
    .info-box {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .info-box {
        width: 100%;
        min-width: unset;
        padding: 1rem;
    }
    .info-box h3 {
        font-size: 1.3rem;
    }
    .info-box p {
        font-size: 0.9rem;
    }
}

.footer-title {
    background-color: rgb(182, 183, 184);
    color: rgb(246, 245, 245);
    padding: 20px;
    text-align: left;
    width: 80%;
    right: 0;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
@media (max-width: 1024px) {
    .footer-title {
      left: 0;
      width: 100%;
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .footer-title {
      left: 0;
      width: 100%;
      justify-content: center;
    }
  
    .footer-title {
      font-size: 1.3rem;
      padding: 5px;
    }
  }
