.page-content {
  background-image: url('/assets/dashboard-image.png');
  padding: 30px;
  margin-left: 0px;
  margin-right:0px;
  position: relative;
  z-index: 1; 
}


@media (max-width: 1300px) and (min-width: 1000px) {
  .page-content {
    margin-left: 25%;
    padding: 15px;
  }
  .info-container {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
  }
   .info-box {
    width: 75%;
    margin-left: 25%;
    margin-right: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  .footer .footer-title{
    width: 75%;
    margin-left:25%;
  }
} 


@media (max-width: 1000px) {
  .page-content {
    margin: auto;
    padding: auto;
  }
  .info-container {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
  }
   .info-box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .footer .footer-title {
    width: 100%;
    margin-left:0px;
  }
}
.footer-title {
  background-color: rgb(182, 183, 184);
  color: rgb(246, 245, 245);
  padding: 20px;
  text-align: left;
  width: 80%;
  right: 0;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}