<div class="page-content">
  <div class="text-container">
    <h1>Herzlich willkommen, Trudo Main Account</h1>
    <p>Hallo Trudo Main Account, dies ist die Care- und Alarmübersicht</p>
  </div>
</div>

<div class="info-container">
  <div class="info-box" (click)="goToDetails()">
    <h3>Trudo Zyre</h3>
    <p>{{ trudoText }}</p>
  </div>

  <div class="info-box">
    <h3>Care Hannah-Office</h3>
    <p>Im moment kein alarm in Care Hannah-Office</p>
  </div>
</div>
<footer class="footer">
  <div class="footer-title">© 2025 hannah&swenn. Alle Rechte vorbehalten.</div>
</footer>
