@import "tailwindcss";

.card{
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    padding-left:20px;
    padding-bottom:20px;
}
.card h3 {
    font-size: 1.25rem;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
}

.card h2 {
    font-size: 1.5rem;
    color: rgb(52, 51, 51);
    font-weight: 500;
}
.card .red-title {
    font-size: 1.5rem;
    color: rgb(221 51 51);
    font-weight: 500;
    margin-bottom: 60px;
    padding: 5px;
}
/* .card .image-container {
    border: 2px solid black; 
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
} */

.info-box {
    flex: 1;
    padding-right: 1.5rem;
    padding-left: 1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    border: 2px solid rgb(221 51 51);
    box-shadow: 0 0 10px #0000001a;
    border-radius: 1rem;
    border-width: 1px;
    text-align: left;
    transition: background 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.page-content {
    background-color: #bbbbbb4d;
    background-image: url('/assets/dashboard-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    background-position: right;
    flex-grow: 1;
}
.page-content h1 {
    font-size: 2rem;
    color: rgb(0 0 0 );
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

.page-content p {
    font-size: .875rem;

}