<div class="page-content py-8 px-4">
  <div class="title font-normal text-4xl mb-6">Calendar</div>
  <div class="pb-6">
    <span class="text-[rgb(221,51,51)]">Ubersicht</span> >
    <span class="text-[rgb(117,117,117)]">Calendar</span>
  </div>

  <div>
    <button
      (click)="openPopup()"
      class="block absolute top-40 right-5 px-8 py-3.5 bg-[rgb(221,51,51)] text-white rounded-xl text-base cursor-pointer z-10"
    >
      Neuen Termin erstellen
    </button>
  </div>

  <div class="max-w-6xl mx-auto border border-gray-300 relative">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <div
    *ngIf="showPopup"
    class="fixed inset-0 bg-black/30 flex justify-center items-center z-20"
  >
    <div class="relative bg-white px-10 py-6 w-[70%] max-w-full rounded-md">
      <h1 class="text-2xl mb-4">Neuen Termin erstellen</h1>

      <form (ngSubmit)="saveEvent()">
        <div class="mb-4">
          <label for="title" class="block text-sm font-normal">Titel*</label>
          <input
            id="title"
            type="text"
            [(ngModel)]="eventData.title"
            name="title"
            required
            class="w-full border-b border-gray-400 py-2 mt-1 outline-none"
          />
        </div>

        <div class="mb-6">
          <label for="description" class="block text-sm font-normal"
            >Beschreibung*</label
          >
          <input
            id="description"
            type="text"
            [(ngModel)]="eventData.description"
            name="description"
            required
            class="w-full border-b border-gray-400 py-2 mt-1 outline-none"
          />
        </div>

        <div class="grid grid-cols-4 gap-4 mb-6">
          <div>
            <label for="startDate" class="block text-sm font-normal"
              >Starttermin*</label
            >
            <input
              id="startDate"
              type="date"
              [(ngModel)]="eventData.startDate"
              name="startDate"
              required
              class="w-full border-b border-gray-400 py-2 mt-1 outline-none"
            />
          </div>
          <div>
            <label for="endDate" class="block text-sm font-normal"
              >Endtermin*</label
            >
            <input
              id="endDate"
              type="date"
              [(ngModel)]="eventData.endDate"
              name="endDate"
              required
              class="w-full border-b border-gray-400 py-2 mt-1 outline-none"
            />
          </div>
          <div>
            <label for="status" class="block text-sm font-normal"
              >Status*</label
            >
            <select
              id="status"
              [(ngModel)]="eventData.status"
              name="status"
              required
              class="w-full border-b border-gray-400 py-2 mt-1 outline-none bg-white"
            >
              <option value="Abwesend">Abwesend</option>
              <option value="Zuhause">Zuhause</option>
            </select>
          </div>
          <div>
            <label for="recurring" class="block text-sm font-normal"
              >Wiederkehrend*</label
            >
            <select
              id="recurring"
              [(ngModel)]="eventData.recurring"
              name="recurring"
              required
              class="w-full border-b border-gray-400 py-2 mt-1 outline-none bg-white"
            >
              <option value="nein">nein</option>
              <option value="ja">ja</option>
            </select>
          </div>
        </div>

        <div *ngIf="eventData.recurring === 'ja'" class="mt-4">
          <div class="flex items-start gap-40 flex-wrap">
            <div>
              <label class="block text-sm font-normal mb-1">Täglich*</label>
              <select
                [(ngModel)]="eventData.frequency"
                name="frequency"
                class="border-b border-gray-400 py-2 outline-none bg-white min-w-[200px]"
              >
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Yearly">Yearly</option>
              </select>
            </div>

            <div class="flex flex-col items-start">
              <div
                (click)="selectOption('Am')"
                [ngClass]="{
                  'border-[rgb(221,51,51)]': selectedOption === 'Am',
                }"
                class="flex items-center gap-2 cursor-pointer text-sm"
              >
                <div
                  class="w-4 h-4 border-2 border-[rgb(221,51,51)] rounded-full p-2"
                  [ngClass]="{
                    'bg-[rgb(221,51,51)]': selectedOption === 'Am',
                  }"
                ></div>
                <span class="text-md pb-3">Am</span>
              </div>

              <div
                (click)="selectOption('Endet nach')"
                [ngClass]="{
                  'border-[rgb(221,51,51)]': selectedOption === 'Endet nach',
                }"
                class="flex items-center gap-2 cursor-pointer text-sm"
              >
                <div
                  class="w-4 h-4 border-2 border-[rgb(221,51,51)] rounded-full p-2"
                  [ngClass]="{
                    'bg-[rgb(221,51,51)]': selectedOption === 'Endet nach',
                  }"
                ></div>
                <span class="text-md">Endet nach</span>
              </div>
            </div>

            <div>
              <label for="amTime" class="block text-sm font-normal mb-1"
                >Date Time*</label
              >
              <input
                id="amTime"
                type="time"
                [(ngModel)]="eventData.amTime"
                name="amTime"
                required
                class="border-b border-gray-400 py-2 outline-none min-w-[200px]"
              />
            </div>
          </div>
        </div>

        <div class="mt-4">
          <button
            type="submit"
            class="bg-[rgb(255,102,102)] text-white px-6 py-3 mt-9 rounded-2xl cursor-pointer hover:bg-[rgb(221,51,51)] transition duration-300"
          >
            Termin Speichern
          </button>
        </div>
      </form>

      <button
        (click)="closePopup()"
        class="absolute top-3 right-3 text-2xl text-black cursor-pointer"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-title">
      © 2025 hannah&swenn. Alle Rechte vorbehalten.
    </div>
  </footer>
</div>
