.page-content {
    background-color: #bbbbbb4d;
    background-image: url('/assets/dashboard-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    background-position: right;
    flex-grow: 1;
    

}

.page-content h1 {
    font-size: 2.25rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;

}

.page-content p {
    font-size: .875rem;
    margin-top: 2.5rem;
}

.red-border-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(221 51 51 ); 
    border-radius: 10px; 
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);;
}
.red-border-container:hover{
    background-color: rgb(251, 249, 249);
    cursor: pointer;
}

.red-border-container .red-title {
    font-size: 1.5rem;
    color: rgb(221 51 51 );
    font-weight: 600;
    margin-bottom: 60px;
    padding: 10px;

}

.red-border-container .image-container {
    border: 2px solid rgb(54, 54, 54); 
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-border-container .image-container i {
    font-size: 30px;
    color:rgb(54, 54, 54);

}
