<div class="page-content">
  <div class="text-container">
    <h1>Herzlich willkommen, Trudo Main Account</h1>
    <p>Hallo Trudo Zyre, dies ist die Care- und Alarmübersicht</p>
  </div>
</div>

<div class="red-border-container card">
  <div class="red-title">Kein Aktiver Alarm</div>
  <div class="image-container">
    <img width="50" height="50" src="/assets/phoneicon.png" alt="phone--v1" />
  </div>
</div>

<div class="card">
  <h2>Alarmhistorie</h2>
  <h3>Die letzten Einträge</h3>
  <div class="entry">
    <div class="entry-number">9100</div>
    <p>
      <span>Trudo Zyre</span>
      <span>Alarm beendet; Keine Maßnahme ergriffen.</span>
      <span>vor 28 Tage</span>
    </p>
  </div>
  <hr />
  <div class="entry">
    <div class="entry-number">9100</div>
    <p>
      <span>Trudo Zyre</span>
      <span>Trudo Zyre Alarm ausgelöst</span>
      <span>vor 28 Tage</span>
    </p>
  </div>
  <hr />
</div>

<div class="card">
  <h2>Geräteübersicht</h2>
  <h3>Batteriestatus</h3>
  <div class="device-status">
    <div class="device-box">
      <p>MAT German Number</p>
      <img
        width="30"
        height="30"
        src="https://img.icons8.com/pixels/50/low-battery.png"
        alt="battery-full"
      />
    </div>
    <div class="device-box">
      <p>Elsa Hannah Device</p>
      <img
        width="30"
        height="30"
        src="https://img.icons8.com/pixels/50/low-battery.png"
        alt="battery-half"
      />
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-title">© 2025 hannah&swenn. Alle Rechte vorbehalten.</div>
</footer>
