.page-content {
  background-image: url('/assets/dashboard-image.png');
  padding: 30px;
  margin-left: 0px;
  margin-right:0px;
  position: relative;
  z-index: 1; 
}
.footer-title {
    background-color: rgb(182, 183, 184);
    color: white;
    margin-top:30px;
    padding: 20px;
    text-align: left;
    width: 80%;
    right: 0;
    font-size: 20px;
    position:absolute;
    bottom: 10;
  
  }
  @media (max-width: 1300px) and (min-width: 1000px) {
    .wrapper {
      margin-left: 25%;
      padding: 15px;
    }
    .footer .footer-title {
      width: 75%;
      margin-left:25%;
    }
  }
  
  
  @media (max-width: 1000px) {
    .wrapper {
      margin: auto;
      padding: auto;
    }
    .footer .footer-title {
      width: 100%;
      margin-left:0px;
    }
  }