.page-content {
    background-color: #bbbbbb4d;
    background-image: url('/assets/dashboard-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    background-position: right;
    flex-grow: 1;
}

.page-content h1 {
    font-size: 2.25rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

.page-content p {
    font-size: .875rem;
    margin-top: 2.5rem;
}

.red-border-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(221 51 51); 
    border-radius: 10px; 
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.red-border-container:hover {
    background-color: rgb(251, 249, 249);
    cursor: pointer;
}

.red-border-container .red-title {
    font-size: 1.5rem;
    color: rgb(221 51 51);
    font-weight: 600;
    margin-bottom: 60px;
    padding: 5px;
}

.red-border-container .image-container {
    border: 2px solid rgb(54, 54, 54); 
    border-radius: 50%;
    padding: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-border-container .image-container i {
    font-size: 30px;
    color: rgb(54, 54, 54);
}

.white-box-container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.white-box-container h3 {
    font-size: 1.25rem;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
}

.white-box-container h2 {
    font-size: 1.5rem;
    color: rgb(52, 51, 51);
    font-weight: 500;
}

.entry {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px 0;
}

.entry-number {
    width: 50px;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    padding: 10px;
}

p span {
    display: block; 
    color: #757575;
    font-size: 14px; 
    line-height: 1.2; 
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    margin: 5px 0;
}

.device-overview-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    margin-top: 40px;
}

.device-status {
    display: flex;
    gap: 20px;
}

.device-box {
    background-color: white;
    padding: 10px 60px 10px 60px;
    width: 200px;
    height: 120px;
    box-shadow: 0 4px 10px rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    text-align: left;
}

.device-box p {
    font-weight: 500;
    color: #383737;
}

.device-overview-container h2 {
    font-size: 1.5rem;
    color: rgb(52, 51, 51);
    font-weight: 500;
    text-align: left;
}

.device-overview-container h3 {
    font-size: 1.25rem;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
}
.footer-title {
    background-color: rgb(182, 183, 184);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top:30px;
    padding: 20px;
    text-align: left;
    width: 77%;
    right: 0;
    font-size: 20px;
    position:absolute;
    bottom: 10;
  
  }