<div class="wrapper">
  <div
    class="page-content bg-contain bg-no-repeat p-5 rounded-lg text-left bg-right flex-grow bg-[#bbbbbb4d]"
  >
    <div class="text-container">
      <h1 class="text-3xl text-slate-950 font-normal mt-0 mb-10">
        Herzlich willkommen, Trudo Main Account
      </h1>
      <p class="text-sm">
        Hallo Trudo Zyre, dies ist die Care- und Alarmübersicht
      </p>
    </div>
  </div>

  <div
    class="card flex justify-between items-center p-4 border border-[rgb(221,51,51)]"
  >
    <div
      class="red-title text-2xl text-[rgb(221,51,51)] font-medium mb-16 p-1.5"
    >
      Kein Aktiver Alarm
    </div>
    <div
      class="image-container p-3 bg-white border-2 border-black rounded-full w-16 h-16 flex justify-center items-center"
    >
      <img width="50" height="50" src="/assets/phoneicon.png" alt="phone--v1" />
    </div>
  </div>

  <div class="card">
    <h2>Alarmhistorie</h2>
    <h3>Die letzten Einträge</h3>
    <div class="entry flex items-start gap-4 p-6">
      <div
        class="entry-number w-12 h-12 border-2 border-gray-300 rounded-full flex items-center justify-center text-base text-black p-2.5"
      >
        9100
      </div>
      <p>
        <span class="block text-gray-600 text-sm">Trudo Zyre</span>
        <span class="block text-gray-600 text-sm"
          >Alarm beendet; Keine Maßnahme ergriffen.</span
        >
        <span class="block text-gray-600 text-sm">vor 28 Tage</span>
      </p>
    </div>
    <hr class="border-0 h-px bg-gray-300 my-1.5" />
    <div class="entry flex items-start gap-4 p-6">
      <div
        class="entry-number w-12 h-12 border-2 border-gray-300 rounded-full flex items-center justify-center text-base text-black p-2.5"
      >
        9100
      </div>
      <p>
        <span class="block text-gray-600 text-sm">Trudo Zyre</span>
        <span class="block text-gray-600 text-sm"
          >Trudo Zyre Alarm ausgelöst</span
        >
        <span class="block text-gray-600 text-sm">vor 28 Tage</span>
      </p>
    </div>
    <hr class="border-0 h-px bg-gray-300 my-1.5" />
  </div>

  <div class="card">
    <h2 class="text-2xl text-[rgb(52, 51, 51)] font-medium text-left">
      Geräteübersicht
    </h2>
    <h3 class="text-l text-slate-500 font-medium mb-6 text-left">
      Batteriestatus
    </h3>
    <div class="device-status flex gap-6">
      <div
        class="device-box p-5 py-2.5 w-[300px] h-[150px] shadow-lg rounded-lg text-left"
      >
        <p class="font-medium text-xl text-slate-700 pb-15">
          MAT German Number
        </p>
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/pixels/50/low-battery.png"
          alt="battery-full"
        />
      </div>
      <div
        class="device-box p-5 py-2.5 w-[300px] h-[150px] shadow-lg rounded-lg text-left"
      >
        <p class="font-medium text-xl text-slate-700 pb-15">
          Elsa Hannah Device
        </p>
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/pixels/50/low-battery.png"
          alt="battery-half"
        />
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-title">
      © 2025 hannah&swenn. Alle Rechte vorbehalten.
    </div>
  </footer>
</div>
